/* COMMON */
img{
    width: 100%;
}
ul{
    list-style-type: none;
    margin-bottom: 0;
}
li{
    display: inline-block;
}
section{
    padding: 2.5rem 0;
}

/* UTILITIES */
.verde{
    background-color: #19bc9b;
    color: white;
    text-align: center;
}
.ms-container{
    width: 65%;
    margin: 0 auto;
    max-width: 1170px;
}
.stella{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}
.stella i{
    margin: 0 1.1rem;
}
.stella::after, .stella::before{
    content: '';
    width: 110px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    background-color: white;
}

/* HEADER */
header{
    background-color: #2c3f4f;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.header-left-content{
    font-size: 1.5rem;
    font-weight: 700;
}
header a{
    padding: 0 0.7rem;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}
header a:hover{
    color: white;
}
header ul{
    text-align: right;
}
.ms_icon{
    text-align: right;
}

/* MAIN */
/* prima section */
#start{
    text-transform: uppercase;
}
h1{
    margin: 1rem 0;
}
.ms_img{
    width: 200px;
    margin: 0 auto;
}

/* portfolio */
#portfolio{
    text-align: center;
}
#portfolio .stella::after, 
#portfolio .stella::before{
    background-color: black;
}
#portfolio img{
    border-radius: 10px;
}

/* about */
.ms_testo_sinistra{
    text-align: left;
}
#about .stella::after, 
#about .stella::before{
    width: 70px;
}
.ms_btn{
    color: inherit;
    border-color: white;
    font-size: 0.9rem;
    margin-top: 2rem;
}
#about a:hover{
    color: white;
}

/* contatti */
#contatti h3, .stella{
    text-align: center;
}
#contatti .ms-container{
    padding: 0 1rem;
}
#contatti .stella::after, 
#contatti .stella::before{
    background-color: black;
    width: 70px;
}
.ms-form{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.ms-form:focus{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #717981;
    box-shadow: none;
}
#contatti .ms_btn{
    background-color: #19bc9b;
    color: white;
}

/* location */
.footer-top{
    background-color: #3b546d;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

/* FOOTER */
/* footer top */
.footer-top{
    background-color: #3b546d;
    color: white;
    text-align: center;
}
.big-text{
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}
.footer-top .icon{
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0.3rem 0.2rem;
    display: inline-block;
}
.footer-top .icon a{
    color: inherit;
}
.footer-top p{
    font-size: 0.9rem;
}
.footer-top p a{
    color: #19bc9b;
    text-decoration: none;
}

/* footer bottom */
.footer-bottom{
    background-color: #2c3f4f;
    color: white;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.8rem;
}